{{ $section := .section }}
<section id="{{ $section.section_id }}" class="section section--logo-slider">
  <div class="container container--lg">
    {{ if $section.title }}
    <h2 class="section__title line-top">{{ $section.title }}</h2>
    {{ end }}
    {{ if $section.subtitle }}
    <p class="section__subtitle">{{ $section.subtitle }}</p>
    {{ end }}
  </div>
  
  <div class="logo-slider">
    <div class="logo-slider__track">
      {{ range (seq 2) }} {{/* Duplicate items for seamless infinite scroll */}}
        {{ range $logo := $section.logos }}
        <div class="logo-slider__item">
          <img src="{{ $logo.image | relURL }}" alt="{{ $logo.image_alt | default "Client Logo" }}" />
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
